body{
	margin-top: 120px;
	font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins';
}
.bg-design{
    position: relative;
    margin-top: 0;
    padding: 0;

    /* background-color: #56C69E; */
    min-height: 25vh;
    background-image: linear-gradient(#179681, #56C69E);

}

.space{
    margin-top: -150px;
}
.custom-shape-divider-bottom-1620910854 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1620910854 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 161px;
}

.custom-shape-divider-bottom-1620910854 .shape-fill {
    fill: #FFFFFF;
}
.navbar-style{
	position: absolute ;
	background: #179681;
/*	background-image: linear-gradient(#179681, #2CABE3);*/
  	border:0;
  	font-family: 'Poppins';
  	/* box-shadow: 0px 15px 4px rgba(246, 247, 247, 0.5); */
	  z-index: 0;
}

/* a{
	position: absolute;
	width: 150px;
	height: 65px;
	margin-top: 0px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px; */
	/* font-size: 12px; */
	/* line-height: 60px;

	color: #FFFFFF;
} */

a{
	position: absolute;
	width: 120px;
	height: 65px;
	margin-top: 0px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 60px;

	color: #FFFFFF;
}

a:hover{
  color: #ffffff;
  text-decoration: rgba(0, 0, 0, 0.25);
}

.a_:hover{
	color: #137666;
	text-decoration: rgba(0, 0, 0, 0.25);
  }
  
.home{
	margin-top: 30px;
}

.icon-bar{
	background: #2CABE3;
}

.navbar-logo{
	position: absolute;
	width: 515px;
	height: 99px;
	margin-bottom: 20px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;

	color: #FFFFFF;
}


.home-btn{
	position: absolute;
	width: 140px;
	height: 45px;
	margin-left: 40px;

	background: #FFFFFF;
	mix-blend-mode: normal;
	border: 1px solid #56C69E;
	box-sizing: border-box;
	border-radius: 10px;
}

.home-right{
	margin-left: 40px;
	line-height: 25px;
	margin-top: 70px;
}

.sign-up{
	position: absolute;
	width: 100px;
	height: 44px;
	margin-left: 2px;
	margin-bottom: 2px;

	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;

	color: #179681;
}

#home img{
	/*position: absolute;*/
	width: 500px;
	height: 424px;

	display: block;
	margin-top: 80px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 90%;
	
/*	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));*/
	border-radius: 62px;
}

#home p{
	color: #000000;
	font-family: 'Poppins';
	text-align: justify;
}
#home h1{
	font-family: 'Poppins';
	 font-size:50px;
	 margin-bottom:30px;

	font-style: normal;
	font-weight: bold;
	line-height: 63px;

	color: #179681;
}

.carousel-control{
	width: 60px;
	height: 60px;

	background-color: #56C69E;
	border-radius: 50%;
	top: calc(50% - 25px) ;
/*	margin-top: 150px;*/
}

.block1{
	position: absolute;
	width: 1200px;
	height: 200px;
	margin-top: 150px;

	background: #ffffff;
	box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);

	border-radius: 10px;
}


#secondView img{
	position: absolute;
	width: 150px;
	height: 150px;
	margin-top: 30px;
	margin-left: 100px;
}

#secondView p{
	position: absolute;
	width: 700px;
	height: 252px;
	margin-top: 45px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;

	color: #2CABE3;
}

.readMore1{

	font-family: 'Poppins';
	font-style: normal;
	/* font-weight: bold; */
	color: #179681;
	
}

.blk1-btn{
	position: absolute;
	width: 130px;
	height: 30px;
	margin-top: 150px;

	/* background: #56C69E;
	mix-blend-mode: normal;
	border-radius: 50px; */

	background: #FFFFFF;
	mix-blend-mode: normal;
	border: 1px solid #56C69E;
	box-sizing: border-box;
	border-radius: 10px;
}

.block2{
	position: absolute;
	width: 1200px;
	height: 200px;
	margin-top: 400px;

	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);

	border-radius: 10px;
}

/* end of secondView */

#thirdView{
	margin-top: 700px;
	margin-bottom: 700px;
}

#thirdView h1{
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	color: #179681;
	/* color: #2CABE3; */
	margin-top: 100px;
	font-weight: bold;
}

#thirdView h3{
	/* color: #137666; */
	color: #2CABE3;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}

.free_plan{
	position: absolute;
	width: 350px;
	height: 475px;
	margin-top: 50px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);

	border-radius: 10px;
}

.basic_plan{
	position: absolute;
	width: 350px;
	height: 475px;
	margin-top: 50px;
	margin-left: 400px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);

	border-radius: 10px;
}

.premium_plan{
	position: absolute;
	width: 350px;
	height: 475px;
	margin-top: 50px;
	margin-left: 50px;
	margin-left: 800px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);

	border-radius: 10px;
}

.checkmark_color{
	color: #2CABE3;
}

.free_plan_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

.basic_plan_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

.premium_plan_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

hr{
	color: #2CABE3;
	width: 275px;
	font-weight: bold;
	text-align: center;
}

.fp-btn{
	position: absolute;
	width: 150px;
	height: 30px;
	margin-top: 200px;
	text-align: center;

	margin-left: 100px;



	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}

.bp-btn{
	position: absolute;
	width: 150px;
	height: 30px;
	margin-top: 85px;
	text-align: center;

	margin-left: 100px;

	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}

.pp-btn{
	position: absolute;
	width: 150px;
	height: 30px;
	margin-top: 30px;
	text-align: center;

	margin-left: 100px;



	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}

#fourthView{
	margin-top: 400px;
	margin-bottom: 700px;
	font-family: "Poppins";
}

#fourthView h1{
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	color: #179681;
	font-weight: bold;
	/* color: #2CABE3; */
	margin-top: 100px;
}

#fourthView h3{
	/* color: #137666; */
	color: #2CABE3;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
}

.windows_dl{
	position: absolute;
	width: 350px;
	height: 400px;
	margin-top: 50px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);

	border-radius: 10px;
}

.windows_dl img{
	width: 30px;
	height: 30px;
}

.apple_dl{
	position: absolute;
	width: 350px;
	height: 400px;
	margin-top: 50px;
	margin-left: 400px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);

	border-radius: 10px;
}

.apple_dl img{
	width: 30px;
	height: 40px;
}

.mobile_dl{
	position: absolute;
	width: 350px;
	height: 400px;
	margin-top: 50px;
	margin-left: 50px;
	margin-left: 800px;

	background: #ffffff;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);

	border-radius: 10px;
}

.windows_dl_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

.windows_dl h4{
	margin-left: 30px;
	font-size: 16px;
}

.apple_dl_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

.apple_dl h4{
	margin-left: 30px;
	font-size: 16px;
}

.mobile_dl_p{
	margin-top: 20px;
	margin-left: 30px;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Poppins';
}

.mobile_dl h4{
	margin-left: 30px;
	font-size: 16px;
}

.wd-btn{
	/* position: absolute; */
	width: 150px;
	height: 30px;
	margin-top: 80px;
	text-align: center;

	margin-left: 100px;



	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}

.ad-btn{
	/* position: absolute; */
	width: 150px;
	height: 30px;
	margin-top: 80px;
	text-align: center;

	margin-left: 100px;



	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}

.md-btn{
	/* position: absolute; */
	width: 150px;
	height: 30px;
	margin-top: 80px;
	text-align: center;

	margin-left: 100px;



	background:#2CABE3;
	color: white;
	border-radius: 10px;
	border: none;
}
