body{
	margin-top: 120px;
    font-size:16px;
    font-family:Poppins;
}

.bg-design{
    position: relative;
    margin-top: 0;
    padding: 0;

    /* background-color: #56C69E; */
    min-height: 25vh;
    background-image: linear-gradient(#179681, #56C69E);
}

.space{
    margin-top: -150px;
}


h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

.navbar-style{
    position: absolute ;
	background: #179681;
/*	background-image: linear-gradient(#179681, #2CABE3);*/
  	border:0;
  	font-family:Poppins;
  	/* box-shadow: 0px 15px 4px rgba(246, 247, 247, 0.5); */
      z-index: 0;
}

.custom-shape-divider-bottom-1620910854 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1620910854 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 161px;
}

.custom-shape-divider-bottom-1620910854 .shape-fill {
    fill: #FFFFFF;
}
a{
	position: absolute;
	width: 150px;
	height: 65px;
	margin-top: 0px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 60px;

	color: #FFFFFF;
}

img{
    width: 150px;
    height 90px;
    margin-top: -50px;
}

.icon-bar{
	background: #2CABE3;
}

.navbar-logo{
	position: absolute;
	width: 515px;
	height: 99px;
	margin-bottom: 20px;

	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;

	color: #FFFFFF;
}



#home form{
    width: 650px;
    height: 450px;
    margin-left: 240px;
    margin-top: 75px;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    text-align: center;

    position: relative;
    z-index: 100;
}

form h2{
    font-size: 30px;
    margin-top: 70px;
    text-align: center;

   font-style: normal;
   font-weight: bold;
   color: #179681;
}
form #username{
    margin-top: 50px;
}

form #password{
    margin-top: 50px;
}

form label{
    margin-left:120px;
}

form input{
    width: 300px;
    margin-left: 70px;
    border-radius: 5px;
    /* border-color: #179681 ; */
}


form a{
    margin-top: 40px;
    margin-left: 300px;
}

.checkbox{
    margin-top: 30px;
    margin-left:300px;
}
.btn-login{
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 19px;
    background: #56C69E;
    /* border-radius: 10px; */
}
.sign-in{
    color: white;;
}
#home img{
	/*position: absolute;*/
	width: 500px;
	height: 424px;

	display: block;
	margin-top: 80px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 90%;
	
/*	filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));*/
	border-radius: 62px;
}

#home p{
	color: #000000;
}

.login{
	margin-left: 425px;
}

/* placeholder */
::-webkit-input-placeholder {
    font-style: italic;
    text-indent: 10px;
    opacity: 50%;
    /* font-family: 'Roboto'; */
    font-size: 12.5px;
 }
 :-moz-placeholder {
    font-style: italic;  
    text-indent: 10px;
 }
 ::-moz-placeholder {
    font-style: italic;  
    text-indent: 10px;
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    text-indent: 10px;
 }

