{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block headerinclude %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			D3ViCE - Homepage
		</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/home/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs jquery/3.5.1/jquery.min.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		{% endblock headerinclude %}
	</head>
	
	<body>
		{% block content %}
		<!-- START OF NAVBAR -->
		<nav class ="navbar navbar-style navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="menuIcon">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a id="tempLogo" class="navbar-logo" href="#home">D3ViCE</a>
					</div>
						
					<div class="collapse navbar-collapse" id="menuIcon">	
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home" class="a_">Home</a></li>
							<li><a href="../D3ViCE_Home/feature" class="a_">Features</a></li>
							<li><a href="../D3ViCE_Home/aboutUs" class="a_">About Us</a></li>
							<li><a href="/D3ViCE_Account/login" class="a_">Sign in</a></li>
						</ul>					
					</div>
				</div>

				<div class="bg-design">
					<div class="custom-shape-divider-bottom-1620910854">
						<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
							<path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
						</svg>
					</div>
				</div>
			</nav>
		<!-- END OF NAVBAR -->
		
		<section id="home">
			<div class = "container">
				<div class="row">
					<!--START FOR THE LEFT GRID-->
					<div class="col-md-6 col-sm-6 ">
						<div id="my-slider" class="carousel slide" data-ride="carousel">

						  	<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#my-slider" data-slide-to="0" class="active"></li>
							    <li data-target="#my-slider" data-slide-to="1"></li>
							    <li data-target="#my-slider" data-slide-to="2"></li>
							 </ol>

						  	<!-- Wrapper for slides -->
							<div class="carousel-inner">
							   	<div class="item active">
							      <img src="{% static 'img/4.png' %}" alt="One">
							    </div>

							    <div class="item">
							      <img src="{% static 'img/developer.png' %}" alt="Two">
							    </div>

							    <div class="item">
							      <img src="{% static 'img/hierarchy-structure.png' %}" alt="Three">
							    </div>
							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#my-slider" data-slide="prev" onclick="$('#my-slider').carousel('prev')">‹</a>
							<a class="right carousel-control" href="#my-slider" data-slide="next" onclick="$('#my-slider').carousel('next')">›</a>
						</div>
					</div>

					<!--START FOR THE RIGHT GRID-->
					<div class="col-md-6 col-sm-6 ">
						<div class="home-right">
							<h1>Keeping you securely connected wherever you are.</h1>
							<p>
								Our system is built with the goal to make conferencing as immersive and interactive as possible. With its gamelike interface, it becomes so dynamic that it encourages users to be a part of the conference. Boring no more!
							</p>
						</div>
						<br>
						<a class="btn btn-default btn-lg home-btn" href="/D3ViCE_User/signUp"><div class="sign-up">Sign-up</div></a>
					</div>
				</div>
			</div>
		</section>

		<section id="secondView">
			<div class="container">
				<div class="row">
					<div id="blk1" class="block1">
						<div class="col-md-4 col-sm-4">
							<img src="{% static 'img/launch.png' %}">
						</div>
						<div class="col-md-8 col-sm-8">
							<p>
								<b>What is D3Vice?</b>
								<br>
								D3ViCE stands for 3D Virtual Conference Environment developed by the FLAME Developers. It caters to businesses, schools and other organizations...<
							</p>
							<a class="btn btn-default blk1-btn" href="../D3ViCE_Home/aboutUs#faq"><div class="readMore1">Read More</div></a>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="blk2" class="block2">
						<div class="col-md-4 col-sm-4">
							<img src="{% static 'img/startup.png' %}">
						</div>
						<div class="col-md-8 col-sm-8">
							<p> 
								<b>Connect</b>
								<br>
								Keeping all people connected around the the world. Using conferencing as a means to accomplish more tasks and more! Build friendship, expand your circle...
							</p>
							<a class="btn btn-default blk1-btn" href="../D3ViCE_Home/aboutUs"><div class="readMore1">Read More</div></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="thirdView">
			<h1 class = "plan_header">Get Started by choosing among the best plans that work for you!</h1>
			<div class="row">
				<div class = "container">
					<div col-md-4 col-sm-4 id = "free_plan" class = "free_plan">
						<h3>FREE</h3>
						<hr>
						<p class = "free_plan_p">
							<span class = "checkmark_color">&#10003;</span> Create one (1) conference per month
							<br>
							<span class = "checkmark_color">&#10003;</span>  Join three (3) conferences per month
							<br>
							<span class = "checkmark_color">&#10003;</span>  Access to selected number of conferences
							<br>
							<span class = "checkmark_color"> &#10003; </span> Can use the mini games
						</p>
						<a class="btn btn-default fp-btn" href="#"><div class="sign_up_free_plan">Apply</div></a>
					</div>

					<div col-md-4 col-sm-4 id = "basic_plan" class = "basic_plan">
						<h3>BASIC (Php 200/month)</h3>
						<hr>
						<p class ="basic_plan_p">
							<span class = "checkmark_color">&#10003;</span> Create fifteen (15) conferences per month
							<br>
							<span class = "checkmark_color">&#10003;</span>  Join ten (10) conferences per month
							<br>
							<span class = "checkmark_color">&#10003;</span>  Number of participants allowed in their conference is maxed at 70
							<br>
							<span class = "checkmark_color"> &#10003; </span> Maximum duration per conference is 5 hours
							<br>
							<span class = "checkmark_color"> &#10003; </span> Can use the mini games
							<br>
							<span class = "checkmark_color"> &#10003; </span> Can use 3 sponsor booths
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Can sponsor up to 5 conferences
						</p>
							<a class="btn btn-default bp-btn" href="#"><div class="sign_up_basic_plan">Apply</div></a>
					</div>

					<div col-md-4 col-sm-4 id = "premium_plan" class = "premium_plan">
						<h3>PREMIUM (Php 400/month)</h3>
						<hr>
						<p class = "premium_plan_p">
							<span class = "checkmark_color">&#10003;</span>  Unlimited number of conferences
							<br>
							<span class = "checkmark_color">&#10003;</span>   Participant per conference is maxed at 1000 (ideally) 
							<br>
							<span class = "checkmark_color">&#10003;</span>   Maximum duration of conference is 3 consecutive days
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Can join unlimited number of conferences
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Can use the Mini Game
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Can use 10 Sponsor booths
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Can dynamically change the scenes
							<br>
							<span class = "checkmark_color"> &#10003; </span>   Can sponsor up to 10 conferences
						</p>
							<a class="btn btn-default pp-btn" href="#"><div class="sign_up_basic_plan">Apply</div></a>
					</div>
				</div>
			</div>
		</section>

		<section id="fourthView">
			<h1 class = "download_header">You can now download D3ViCE across these platforms!</h1>
			<div class="row">
				<div class = "container">
					<div col-md-4 col-sm-4 id = "windows_dl" class = "windows_dl">
						<h3>Windows</h3>
						<hr>
						<h4>Compatability:</h4>
						<p class = "windows_dl_p">
							<span class = "checkmark_color">&#10003;</span>  Lorem ipsum dolor sit amet, consectetur
							<br>
							<span class = "checkmark_color">&#10003;</span>   adipiscing elit, sed do eiusmod tempor incididunt 
							<br>
							<span class = "checkmark_color">&#10003;</span>  abore et dolore magna aliqua. Ut enim
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Lorem ipsum dolor sit amet, consectetur
						</p>
						<a class="btn btn-default wd-btn" href="#"><div class="windows_dl_btn">Download</div></a>
					</div>

					<div col-md-4 col-sm-4 id = "apple_dl" class = "apple_dl">
						<h3>Apple</h3>
						<hr>
						<h4>Compatability:</h4>
						<p class = "apple_dl_p">
							<span class = "checkmark_color">&#10003;</span>  Lorem ipsum dolor sit amet, consectetur
							<br>
							<span class = "checkmark_color">&#10003;</span>   adipiscing elit, sed do eiusmod tempor incididunt 
							<br>
							<span class = "checkmark_color">&#10003;</span>  abore et dolore magna aliqua. Ut enim
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Lorem ipsum dolor sit amet, consectetur
						</p>
						<a class="btn btn-default ad-btn" href="#"><div class="apple_dl_btn">Download</div></a>
					</div>

					<div col-md-4 col-sm-4 id = "mobile_dl" class = "mobile_dl">
						<h3>Mobile</h3>
						<hr>
						<h4>Compatability:</h4>
						<p class = "mobile_dl_p">
							<span class = "checkmark_color">&#10003;</span>  Lorem ipsum dolor sit amet, consectetur
							<br>
							<span class = "checkmark_color">&#10003;</span>   adipiscing elit, sed do eiusmod tempor incididunt 
							<br>
							<span class = "checkmark_color">&#10003;</span>  abore et dolore magna aliqua. Ut enim
							<br>
							<span class = "checkmark_color"> &#10003; </span>  Lorem ipsum dolor sit amet, consectetur
						</p>
						<a class="btn btn-default md-btn" href="#"><div class="mobile_dl_btn">Download</div></a>
					</div>

				</div>
			</div>
		</section>
		
		{% block footerinclude %}
		<script src="http://code.jquery.com/jquery-3.5.1.js"
  				integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  				crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
	        window.sr = ScrollReveal();
	        sr.reveal('.menuIcon', {
	          duration: 2000,
	          origin:'bottom'
	        });
	        sr.reveal('.carousel', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px'
	        });
	        sr.reveal('.home-right', {
	          duration: 2000,
	          origin:'right',
	          distance:'300px'
	        });
	        sr.reveal('.home-btn', {
	          duration: 2000,
	          delay: 1000,
	          origin:'bottom'
	        });
	        sr.reveal('.block1', {
	          duration: 2000,
	          origin:'left',
	          distance:'300px',
	          viewFactor: 0.2
	        });
	        sr.reveal('.block2', {
	          duration: 2000,
	          origin:'right',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.free_plan', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.basic_plan', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.premium_plan', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.plan_header', {
	          duration: 2000,
	          origin:'left',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.download_header', {
	          duration: 2000,
	          origin:'left',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.windows_dl', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.apple_dl', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
			sr.reveal('.mobile_dl', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px',
	          viewFactor: 0.2
	        });
    	</script>

    	 <script>
		    $(function() {
		      // Smooth Scrolling
		      $('a[href*="#"]:not([href="#"])').click(function() {
		        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		          var target = $(this.hash);
		          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		          if (target.length) {
		            $('html, body').animate({
		              scrollTop: target.offset().top
		            }, 1000);
		            return false;
		          }
		        }
		      });
		    });
		</script>
		{% endblock footerinclude %}
	{% endblock content %}
	</body>
</html>