{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block headerinclude %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">	
		<title>
			D3ViCE -Sign In
		</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
		<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/login/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs jquery/3.5.1/jquery.min.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		{% endblock headerinclude %}
	</head>
	
	<body>
		{% block content %}
		<!-- <div class="bg-design">
			<div class="custom-shape-divider-bottom-1620910854">
				<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
					<path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
				</svg>
			</div>
		</div> -->
		<!-- START OF NAVBAR -->
		<nav class ="navbar navbar-style navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="menuIcon">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-logo" href="../D3ViCE_Home/home">D3ViCE</a>
				</div>

				<div class="collapse navbar-collapse" id="menuIcon">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../D3ViCE_Home/home">Home</a></li>
						<li><a href="../D3ViCE_Home/feature">Features</a></li>
						<li><a href="../D3ViCE_Home/aboutUs">About Us</a></li>
						<li><a href="/D3ViCE_User/signUp">Sign Up</a></li>
					</ul>
				</div>
			</div>
			<div class="bg-design">
				<div class="custom-shape-divider-bottom-1620910854">
					<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
						<path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
					</svg>
				</div>
			</div>
			
		</nav>
		<!-- END OF NAVBAR -->
			
		<section id="home">
			<div class = "container">
				<div class="row">
                    <div class="col-md-12 col-sm-12">
							<form action="" method="POST" id="form-login" class="login">
								{% csrf_token %}
								<div style="height: 100px;">
								<br>
								<div class="col-md-1 col-sm-1">  
								</div>
								<div class="col-md-4 col-sm-4">  
								<h2>Sign In</h2>
								</div>
								</div>

								<div class="row">
									<div class="col-md-12 col-sm-12">
										<label for="username">Username</label>
										<input type="username" class="form-username" id="username" name="username" placeholder="username">
									</div>
								</div>

								<!--Password-->
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<label for="password">Password</label>
										<input type="password" class="form-password" id="password" name="password" placeholder="password">
									</div>
								</div>

								<!--Remember Me-->
								<div class="row">
									<div class="col-md-12 col-sm-12">	
										<div class="checkbox">
											<label><input type="checkbox"> Remember me</label>
										</div>
									</div>
								</div>

								<!-- Submit -->
								<div class="row">
									<div class="col-md-12 col-sm-12">	
									<div class="login">
										<button class="btn btn-login" type="submit"><b>Sign In</b></button>
									</div>
									</div>
								</div>

							</form>
						<!-- </div> -->
						</div>
                	</div>
				</div>
			</div>
		</section>
		
		{% block footerinclude %}
		<script src="http://code.jquery.com/jquery-3.5.1.js"
  				integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  				crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
	        window.sr = ScrollReveal();
	        sr.reveal('.menuIcon', {
	          duration: 2000,
	          origin:'bottom'
	        });
	        sr.reveal('.login', {
	          duration: 2000,
	          origin:'top',
	          distance:'300px'
	        });
    	</script>

    	 <script>
		    $(function() {
		      // Smooth Scrolling
		      $('a[href*="#"]:not([href="#"])').click(function() {
		        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		          var target = $(this.hash);
		          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		          if (target.length) {
		            $('html, body').animate({
		              scrollTop: target.offset().top
		            }, 1000);
		            return false;
		          }
		        }
		      });
		    });
		</script>
		{% endblock footerinclude %}
		{% endblock content %}
	</body>

</html>